body {
	/*font-family: 'Bungee Inline', sans-serif;*/
    font-family: 'Sawasdee';
    padding: 0;
    margin: 0;
}
.page {
	display: block;
	width: 100%;
}
.main {
    display: block;
    width: 100%;
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: 70px;
}

#search-but {
    font-weight: bold;

    background-color: white;
    color: #447e9b;
    width: 150px;

}
#search-but:hover {
	background: cadetblue;
	color: white;
}
.results {
    font-size: 30px;
    margin: 0 auto;
    margin-top: 4vh;
    width: 70vw;
}
